<h1>Welcome to Prello!</h1>
<mat-card>
    <h3>
        This is an Angular 9 project demonstrating:
    </h3>
    <ul>
        <li>Angular 9 proficiency</li>
        <li>Responsive mobile design</li>
        <li>Angular Material</li>
        <li>Firestore noSQL database</li>
        <li>Authentication (with google / email)</li>
        <li>ServerSide Rendering</li>
        <li>CRUD Functionality on the Kanban module</li>
        <li>Data persistence for each user in the Kanban module</li>
        <li>Drag and Drop with the Angular CDK</li>
        <li>Dynamically rendered SEO</li>
    </ul>

    <a mat-raised-button routerLink="/kanban">Show me Kanban</a>
    <a mat-raised-button warn href="https://github.com/ecam900/prello">View in Github</a>

</mat-card>